@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden; /* ✅ Cuma block horizontal scroll */
  overflow-y: auto;   /* ✅ Allow vertical scroll */
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Di file CSS global */
#root {
  width: 100%;
  min-height: 100vh; /* Pastikan root minimal setinggi layar */
  display: flex;     /* Gunakan flexbox */
  flex-direction: column; 
}