@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden; /* Ubah dari overflow-x menjadi overflow */
  width: 100%;
  height: 100%; /* Tambahkan ini */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #0B4251;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  height: 100%; /* Tambahkan ini */
  overflow: hidden; /* Tambahkan ini */
}